[submodule "reference/ai-patterns"]
	path = reference/ai-patterns
	url = https://github.com/patchy631/ai-engineering-hub.git
[submodule "services/user/whisperlive"]
	path = services/user/whisperlive
	url = https://github.com/Intelluxe-AI/WhisperLive
