[Unit]
Description=Run auto-upgrade weekly
Requires=auto-upgrade.service

[Timer]
OnCalendar=*-*-* 02:00
Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
